<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" 
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>

  <appSettings>
    <add key="Server" value="JOHN\SQL2012" />
    <add key="DBName" value="RMG_LIVE" />
    <add key="DBUser" value="sa" />
    <add key="DBPwd" value="2012" />
    <add key="Debug" value="ON" />
    <add key="EmailFrom" value="johnxsmail@gmail.com" />
	 <add key="EmailTo_CD" value="johnxaviermail@gmail.com,johnxsmail@gmail.com" />
	<add key="EmailTo_SD" value="johnxaviermail@gmail.com" />
	<add key="EmailTo_SDContract" value="johnxaviermail@gmail.com" />
	<add key="EmailTo_SM" value="johnxaviermail@gmail.com,sahayar@abeo-electra.com" />
    <add key="EmailSubject" value="RMG Email Notification" />
	  
    <add key="EmailBody" value="Please find attached document" />
    <add key="SMTPServer" value="smtp.gmail.com" />
    <add key="SMTPPort" value="587" />
    <add key="SMTPConnTimeout" value="10" />
    <add key="SMTPUser" value="srisam1619" />
    <add key="SMTPPassword" value="roomrent" />

    <add key ="CDTime01" value ="12:05" />
	<add key ="CDTime02" value ="12:34" />
	<add key ="CDTime03" value ="16:00" />
	<add key ="SDTime01" value ="10:58" />
	<add key ="SMTime01" value ="14:52" />
	  

	<add key ="Path" value ="D:\" />
	  
  </appSettings>
  
</configuration>
